* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    max-width: 100%;
    font-size: 20px;
    background-color: lightgrey;
}

.container {
    width: 100%;
    height: 100vh;
}

.header-top {
    display: flex;
    align-items: flex-end;
    height: 70px;
    color: skyblue;
    font-size: 40px;
    background-color: white;
}

.header-bottom {
    width: 100%;
    background-color: rgb(67, 149, 182);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bottom > select {
    margin-left: 10px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.icons > div {
    display: flex;
    flex-flow: column;
    margin: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 100px;
    -webkit-box-shadow: 0px 3px 16px 7px rgba(0,0,0,0.72); 
    box-shadow: 0px 3px 16px 7px rgba(0,0,0,0.72);
    border-radius: 20px;
    background-color: white;
}

.icons > div > i {
    font-size: 30px;
}